#include "resource.h"
#include <windows.h>

IDI_ICON1               ICON                    "icons\\icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040c04b0"
        BEGIN
            VALUE "CompanyName", "https://github.com/Gaudrioles"
            VALUE "FileDescription", "Novetat utilitaire"
            VALUE "FileVersion", APP_VERSION
            VALUE "InternalName", "update.exe"
            VALUE "LegalCopyright", "Copyright (C) 2020"
            VALUE "OriginalFilename", "update.exe"
            VALUE "ProductName", "Novetat utilitaire"
            VALUE "ProductVersion", APP_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END
